.grey_light-block {
    background-color: #f7f7f7;
  }
  
  .timeline {
    position: relative;
    background-image: linear-gradient(to bottom, #930054, #983279, #97519b, #926db8, #8b87d0, #7096df, #4ca4e9, #00b1ec, #00b6db, #00b7b2, #00b376, #2aab29);
    width: 50px;
    text-align: center;
    transition: all 0.3s;
  }
  @media screen and (max-width: 768px) {
    .timeline {
      margin: 0 0 0 20px;
    }
  }
  @media screen and (min-width: 769px) {
    .timeline {
      margin: 0 auto;
    }
  }
  .timeline .point .year {
    padding-top: 10px;
    color: #ffffff;
  }
  .timeline .point .bocata {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    transition: all 0.3s;
  }
  @media screen and (max-width: 425px) {
    .timeline .point .bocata {
      width: 180px;
    }
    .timeline .point .bocata.little {
      width: 180px;
    }
  }
  @media screen and (min-width: 425px) and (max-width: 576px) {
    .timeline .point .bocata {
      width: 300px;
    }
    .timeline .point .bocata.little {
      width: 300px;
    }
  }
  @media screen and (min-width: 577px) and (max-width: 1024px) {
    .timeline .point .bocata {
      width: 390px;
    }
    .timeline .point .bocata.little {
      width: 390px;
    }
  }
  @media screen and (min-width: 1025px) {
    .timeline .point .bocata {
      width: 600px;
    }
    .timeline .point .bocata.little {
      width: 600px;
    }
    .timeline .point:nth-child(2n) .bocata.little {
      right: 575px;
    }
  }
  .timeline .point .bocata + .bocata {
    margin-top: 35px;
  }
  .timeline .point:nth-child(odd) .bocata {
    box-shadow: -6px 10px 20px -20px #4a4a4a;
    left: 100px;
    position: relative;
    z-index: 10;
  }
  .timeline .point:nth-child(odd) .bocata::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-top: -10px;
    top: 50%;
    border-right: 10px solid #ffffff;
    left: -10px;
  }
  .timeline .point:nth-child(even) .bocata {
    box-shadow: 6px 10px 20px -20px #4a4a4a;
  }
  @media screen and (max-width: 768px) {
    .timeline .point:nth-child(even) .bocata {
      left: 50px;
      position: relative;
      z-index: 10;
    }
    .timeline .point:nth-child(odd) .bocata {
      left: 50px;
    }
    .timeline .point:nth-child(even) .bocata::after {
      content: "";
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      z-index: 10;
      border: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      margin-top: -10px;
      top: 50%;
      border-right: 10px solid #ffffff;
      left: -10px;
    }
  }
  @media screen and (min-width: 769px) {
    .timeline .point:nth-child(even) .bocata {
      right: 365px;
      position: relative;
      z-index: 10;
    }
    .timeline .point:nth-child(odd) .bocata {
      box-shadow: -6px 10px 20px -20px #4a4a4a;
      left: 50px;
      position: relative;
      z-index: 10;
  }
}
@media screen and (min-width: 1025px) {
  .timeline .point:nth-child(even) .bocata {
    right: 575px;
    position: relative;
    z-index: 10;
  }
  .timeline .point:nth-child(odd) .bocata {
    box-shadow: -6px 10px 20px -20px #4a4a4a;
    left: 50px;
    position: relative;
    z-index: 10;
}
}
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .timeline .point:nth-child(even) .bocata.little {
      right: 225px;
    }
  }
  @media screen and (min-width: 769px) {
    .timeline .point:nth-child(even) .bocata::after {
      content: "";
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      z-index: 10;
      border: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      margin-top: -10px;
      top: 50%;
      border-left: 10px solid #ffffff;
      left: auto;
      right: -10px;
    }
  }
  .timeline .point .arrow {
    border: solid #f7f7f7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(45deg);
  }
  .timeline .point:first-child .arrow, .timeline .point:last-child .arrow {
    border: solid #f7f7f7;
    border-width: 0 12px 12px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(45deg);
  }
  .timeline .point .arrow-clean {
    border: solid #f7f7f7;
    border-width: 0 20px 20px 0;
    display: inline-block;
    padding: 20px;
    position: absolute;
    left: -5px;
    bottom: -13px;
    transform: rotate(45deg);
  }
  
  .title {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.28px;
  }

  .small {
    text-align: start;
  }